bpelContent/BlackListCheckWebService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch0="http://vlsu.ru/schema/citizen" xmlns:sch1="http://vlsu.ru/schema/vehicle"
	xmlns:sch2="http://vlsu.ru/blacklistcheck" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://vlsu.ru/blacklistcheck" targetNamespace="http://vlsu.ru/blacklistcheck">
	<wsdl:types>
		<xs:schema xmlns="http://vlsu.ru/schema/citizen" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://vlsu.ru/schema/citizen">
			<xs:complexType name="Citizen">
				<xs:all>
					<xs:element name="firstname" type="xs:string" />
					<xs:element name="middlename" nillable="true" type="xs:string" />
					<xs:element name="lastname" type="xs:string" />
					<xs:element name="gender" type="Gender" />
					<xs:element name="birthday" type="xs:date" />
					<xs:element name="birth_place" type="xs:string" />
					<xs:element name="passport" type="Passport" />
				</xs:all>
			</xs:complexType>
			<xs:simpleType name="Gender">
				<xs:restriction base="xs:string">
					<xs:enumeration value="male" />
					<xs:enumeration value="female" />
					<xs:enumeration value="other" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Passport">
				<xs:all>
					<xs:element name="series">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4" />
								<xs:pattern value="[0-9]+" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="number">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="6" />
								<xs:pattern value="[0-9]+" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="issue_date" type="xs:date" />
					<xs:element name="issued_by" type="xs:string" />
					<xs:element name="registration" type="Registration" />
				</xs:all>
			</xs:complexType>
			<xs:complexType name="Registration">
				<xs:all>
					<xs:element name="region" type="xs:string" />
					<xs:element name="district" nillable="true" type="xs:string" />
					<xs:element name="city" type="xs:string" />
					<xs:element name="address" type="xs:string" />
					<xs:element name="date" type="xs:date" />
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns="http://vlsu.ru/schema/vehicle" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://vlsu.ru/schema/vehicle">
			<xs:complexType name="VehiclePass">
				<xs:all>
					<xs:element name="vin" type="VIN" />
					<xs:element name="model" type="xs:string" />
					<xs:element name="type" type="xs:string" />
					<xs:element name="category" type="Category" />
					<xs:element name="built_year" type="xs:gYear" />
					<xs:element name="engine_number" type="xs:string" />
					<xs:element name="chassis_number" type="xs:string" />
					<xs:element name="body_number" nillable="true" type="xs:string" />
					<xs:element name="body_color" type="xs:string" />
				</xs:all>
			</xs:complexType>
			<xs:simpleType name="VIN">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9A-Z]{17}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Category">
				<xs:restriction base="xs:string">
					<xs:enumeration value="A" />
					<xs:enumeration value="B" />
					<xs:enumeration value="C" />
					<xs:enumeration value="D" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:ci="http://vlsu.ru/schema/citizen"
			xmlns:ns="http://vlsu.ru/blacklistcheck" xmlns:ve="http://vlsu.ru/schema/vehicle"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://vlsu.ru/blacklistcheck">
			<xs:import namespace="http://vlsu.ru/schema/citizen" />
			<xs:import namespace="http://vlsu.ru/schema/vehicle" />
			<xs:element name="CheckCitizenRequest">
				<xs:complexType>
					<xs:all>
						<xs:element name="citizen" type="ci:Citizen" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CheckCitizenResponse">
				<xs:complexType>
					<xs:all>
						<xs:element name="result" type="ns:CheckResult" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CheckVehicleRequest">
				<xs:complexType>
					<xs:all>
						<xs:element name="vehicle_pass" type="ve:VehiclePass" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CheckVehicleResponse">
				<xs:complexType>
					<xs:all>
						<xs:element name="result" type="ns:CheckResult" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CheckResult">
				<xs:sequence>
					<xs:element name="result" type="xs:boolean" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="messages"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CheckCitizenResponse">
		<wsdl:part element="tns:CheckCitizenResponse" name="CheckCitizenResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CheckVehicleResponse">
		<wsdl:part element="tns:CheckVehicleResponse" name="CheckVehicleResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CheckCitizenRequest">
		<wsdl:part element="tns:CheckCitizenRequest" name="CheckCitizenRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CheckVehicleRequest">
		<wsdl:part element="tns:CheckVehicleRequest" name="CheckVehicleRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BlackListCheck">
		<wsdl:operation name="CheckCitizen">
			<wsdl:input message="tns:CheckCitizenRequest" name="CheckCitizenRequest"></wsdl:input>
			<wsdl:output message="tns:CheckCitizenResponse" name="CheckCitizenResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckVehicle">
			<wsdl:input message="tns:CheckVehicleRequest" name="CheckVehicleRequest"></wsdl:input>
			<wsdl:output message="tns:CheckVehicleResponse" name="CheckVehicleResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BlackListCheckSoap11" type="tns:BlackListCheck">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CheckCitizen">
			<soap:operation soapAction="" />
			<wsdl:input name="CheckCitizenRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CheckCitizenResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckVehicle">
			<soap:operation soapAction="" />
			<wsdl:input name="CheckVehicleRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CheckVehicleResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BlackListCheckService">
		<wsdl:port binding="tns:BlackListCheckSoap11" name="BlackListCheckSoap11">
			<soap:address location="http://localhost:54321/services/BlackListCheck" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>